.welcome {
    
}

.welcome-pane .panel {
    background: url("../../assets/images/agriculture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-pane .panel .title {
    background: rgba(214, 214, 214, 0.3);
    padding: 10px;
    border-radius: 3px;
    color: #fff;
}

.panel.agriculture {
    background-image: url("../../assets/images/agriculture.jpg");
}

.panel.shirmpfarm {
    background-image: url("../../assets/images/shrimpfarm.jpg");
}

.panel.oilandgas {
    background-image: url("../../assets/images/oil.jpg");
}

.panel.logistic {
    background-image: url("../../assets/images/logistic.jpg");
}


.main .panel {
    padding: 2px;
    text-align: center;
    border: 1px solid #6d6b6b;
    border-radius: 5px;
    min-height: 280px;
    color: #588db9;
}

.credit {
    margin: 50px 0 40px 0;
    text-align: center;
    color: #fff;
}




