<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                Saigon SC
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active': isState('#/traffic')}">
                    <a href="#/traffic"><i class="fa fa-car"></i><span> Traffic</span></a>
                </li>
                <li ng-class="{'active': isState('#/shrimpFarm')}">
                    <a href="#/shrimpFarm"><i class="fa fa-anchor"></i><span> Shrimp Farm</span></a>
                </li>
                <li ng-class="{'active': isState('#/agri')}">
                    <a href="#/agri"><i class="fa fa-bug"></i><span> Agri</span></a>
                </li>
                <li ng-class="{'active': isState('#/smartCity')}">
                    <a href="#/smartCity"><i class="fa fa-building"></i><span> Smart City</span></a>
                </li>
                <li ng-class="{'active': isState('#/camera')}">
                    <a href="#/camera"><i class="fa fa-camera-retro"></i><span> Camera</span></a>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="notification">-->
                    <!--<a href="" data-toggle="dropdown" aria-haspopup="true"-->
                       <!--aria-expanded="false"><i class="fa fa-bell"></i><span class="badge">0</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">No Message No Message No Message No Message No Message No Message No Message No Message</a></li>-->
                        <!--<li><a href="#">No Message</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="javascript:void(0)" class="dropdown-toggle"-->
                       <!--data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                        <!--<div class="avatar"></div>-->
                        <!--Dropdown <span-->
                            <!--class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<div class="tooltip-arrow"></div>-->
                        <!--<li><a href="javascript:void(0)"><i class="fa fa-bars"></i><span>Account</span></a></li>-->
                        <!--<li><a href="javascript:void(0)"><i class="fa fa-user"></i><span>User</span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--<div class="side-bar">-->
        <!--<ul class="list-unstyled">-->
            <!--<li class="active">-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-navicon"></i></div>-->
                    <!--<span>Menu</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><img src="assets/icons/dashboard-icon.png" alt=""></div>-->
                    <!--<span>Dashboard</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-user"></i></div>-->
                    <!--<span>My Account</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-check"></i></div>-->
                    <!--<span>Task List</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-line-chart"></i></div>-->
                    <!--<span>Graphs</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><img src="assets/icons/blocks-icon.png" alt=""></div>-->
                    <!--<span>Apps</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-heart"></i></div>-->
                    <!--<span>Favorites</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><img src="assets/icons/list-icons.png" alt=""></div>-->
                    <!--<span>Articles</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-gear"></i></div>-->
                    <!--<span>Settings</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<div class="icon"><i class="fa fa-times"></i></div>-->
                    <!--<span>Close</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</nav>