<div class="welcome">
    <div class="panel">
        <div class="panel-heading text-center">
            <h3>Welcome to Saigon SC</h3>
            <div class="slogan">IoT excels our industries</div>
        </div>
    </div>
    
    <div class="row main">
        <div class="welcome-pane col-md-3">
            <div class="panel agriculture">
                <div class="panel-body">
                    <strong class="title">Agriculture solution</strong>
                </div>
            </div>
        </div>
        <div class="welcome-pane col-md-3">
            <div class="panel shirmpfarm">
                <div class="panel-body">
                    <strong class="title">Shrimpfarm solution</strong>
                </div>
            </div>
        </div>
        <div class="welcome-pane col-md-3">
            <div class="panel oilandgas">
                <div class="panel-body">
                    <strong class="title">Oil and gas solution</strong>
                </div>
            </div>
        </div>
        <div class="welcome-pane col-md-3">
            <div class="panel logistic">
                <div class="panel-body">
                    <strong class="title">Logistic solution</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row credit">
        <h4>Special thanks to:</h4>
        <strong>Atomiton, HNC, SVTECH, Aspec, ITT, VVM</strong>
        <div>
            <div>Supervisor: <strong>Baseer Khan</strong></div>
            <div>Architects: <strong>Tuan D. Nguyen</strong> (Technical architect). <strong>Nam Pham</strong> (Desing & UI)</div>
        </div>
    </div>
</div>