<div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Shrimpfarm data</h3>
        </div>
        <div class="panel-body">
            <div layout="row" layout-align="center center">
                <md-button class="btn md-raised btn-blue" ng-click="vm.startWs()">Start</md-button>
                <md-button class="btn md-raised btn-red" ng-click="vm.stopWs()">End</md-button>
            </div>
            <br>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3>Shrimpfarm History Data</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Pone Name</th>
                    <th>TempC</th>
                    <th>Ph</th>
                    <th>PPM</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.data track by $index">
                    <td>{{item.ShrimpRegion.regions[0].ponds[0].pondName}}</td>
                    <td>{{item.ShrimpRegion.regions[0].ponds[0].tempC}}</td>
                    <td>{{item.ShrimpRegion.regions[0].ponds[0].ph}}</td>
                    <td>{{item.ShrimpRegion.regions[0].ponds[0].ppm}}</td>
                    <td>{{vm.printDate(item.ShrimpRegion.regions[0].ponds[0].timestamp)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>