<div>
    <div class="panel">
        <div class="panel-body">
            <img src="assets/images/hcm.jpg" width="100%" alt="">
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Use case 1 - Intelligent Street System</h3>
        </div>
        <div class="panel-body">
            <div layout="row" layout-align="center center">
                <span>Light Systems:</span>
                <md-button class="btn md-raised btn-blue" ng-click="vm.startLight()">Activate</md-button>
                <md-button class="btn md-raised btn-red" ng-click="vm.endLight()">De-activate</md-button>
                <md-button class="btn md-raised" ng-click="vm.offLight()">Turn Off</md-button>
            </div>
            <div layout="row" layout-align="center center">
                <span>Fan Systems:</span>
                <md-button class="btn md-raised btn-blue" ng-click="vm.startMotor()">Activate</md-button>
                <md-button class="btn md-raised btn-red" ng-click="vm.endMotor()">De-activate</md-button>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Use Case 2 - Automatic controlling system based on Weather Forecast</h3>
        </div>
        <div class="panel-body">
            <div layout="row">
                <div class="form-group">
                    <label for="">Select Area/District</label>
                    <md-select ng-model="vm.selectedCity" placeholder="Select" class="md-no-underline">
                        <md-option ng-repeat="city in vm.cityList" ng-value="city">
                            {{city}}
                        </md-option>
                    </md-select>
                </div>
                <span flex></span>
                <div>
                    <md-button class="btn md-raised btn-blue" ng-click="vm.getCityData()">Get sensors data</md-button>
                    <md-button class="btn md-raised btn-red" ng-click="vm.endCityData()">De-activate</md-button>
                    <md-button class="btn md-raised" ng-click="vm.offCityData()">Clear use case</md-button>

                </div>
            </div>

            <!--table-->
            <table class="table">
                <tbody>
                <tr ng-repeat="(key,value) in vm.cityData track by $index">
                    <td>{{key}}</td>
                    <td>{{key=="Light"?vm.checkingLightColor(vm.cityData.Temperature._Known):value._Known}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Use case 3 - Automatic controlling system based on sensors</h3>
        </div>
        <div class="panel-body">
            <div layout="row" layout-align="center center">
                <md-button class="btn md-raised btn-blue" ng-click="vm.startSensor()">Start</md-button>
                <md-button class="btn md-raised btn-red" ng-click="vm.endSensor()">End</md-button>
                <md-button class="btn md-raised" ng-click="vm.offCityData()">Turn Off Light</md-button>
            </div>
            <br>

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <md-button class="btn md-raised" ng-click="vm.getAmbiance()">Get Ambiance</md-button>
                    </td>
                    <td>Value: {{vm.ambiance}}</td>
                </tr>
                <tr>
                    <td>
                        <md-button class="btn md-raised" ng-click="vm.getHumidity()">Get Humidity</md-button>
                    </td>
                    <td>Value: {{vm.humidity}}</td>
                </tr>
                <tr>
                    <td>
                        <md-button class="btn md-raised" ng-click="vm.getTemperature()">Get Temperature</md-button>
                    </td>
                    <td>Value: {{vm.temperature}} &deg;C</td>
                </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center">
                <md-button class="btn md-raised btn-blue" ng-click="vm.startWS()">Start Subscribe</md-button>
                <md-button class="btn md-raised btn-blue" ng-click="vm.stopWS()">Stop Subscribe</md-button>
            </div>
            <br>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>