<div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Traffic</h3>
        </div>
        <div class="panel-body">
            <div layout="row" layout-align="center center">
                <md-button class="btn md-raised btn-blue" ng-click="vm.startWs()">Start</md-button>
                <md-button class="btn md-raised btn-red" ng-click="vm.stopWs()">End</md-button>
            </div>
            <br>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3>Traffic History Data</h3>
        </div>
        <div class="panel-body">
            <div layout="row" layout-align="center center">
                <md-button class="btn md-raised btn-blue" ng-click="vm.getAllData()">Refresh</md-button>
            </div>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Street Name</th>
                    <th>Bike</th>
                    <th>Car</th>
                    <th>Truck</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.data track by $index">
                    <td>{{item.TrafficInfo.streets[0].streetName}}</td>
                    <td>{{item.TrafficInfo.streets[0].bikeCount}}</td>
                    <td>{{item.TrafficInfo.streets[0].carCount}}</td>
                    <td>{{item.TrafficInfo.streets[0].truckCount}}</td>
                    <td>{{vm.printDate(item.TrafficInfo.streets[0].timestamp)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>